<mat-toolbar color="primary">Arbnco </mat-toolbar>
&nbsp; &nbsp;
<div
  style=" display: flex;
justify-content: center;
align-items: center;"
>
  <mat-card class="card" style="border-radius: 10%">
    <mat-card-header>
      <mat-card-title>
        <h3>Enter a city to search</h3>
      </mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="enter city"
          [(ngModel)]="this.city"
          name="first"
        />
      </mat-form-field>
      &nbsp;
      <button
        mat-raised-button
        color="primary"
        (click)="searchCity()"
        [disabled]="this.city == null || this.city == ''"
      >
        SEARCH
      </button>
    </form>
    <button mat-raised-button color="primary" (click)="clear()">
      clear
    </button>
    &nbsp;
    <button
      mat-raised-button
      color="primary"
      (click)="initTempChart()"
      [disabled]="!submitted"
    >
      chart
    </button>
  </mat-card>
</div>

<div *ngIf="submitted && this.data">
  <h2>The city you looked up is : {{ this.city }}</h2>
  <h5>
    press the 'chart' button to see a chart for the Temperature and Humidity for
    the next days
  </h5>
</div>

<div *ngIf="this.showChart && this.data" style="display:block">
  <highcharts-chart
    [Highcharts]="tempcharts"
    [options]="chartOptions"
    style="width: 50%;
  height: 400px; display: block;"
  ></highcharts-chart>
  <highcharts-chart
    [Highcharts]="humicharts"
    [options]="humiChartOptions"
    style="width: 50%;
height: 400px; display: block;"
  ></highcharts-chart>
</div>
