<app-header></app-header>
<router-outlet></router-outlet>

<div *ngIf="this.showChart && this.data">
  <button mat-raised-button color="primary" (click)="save()">
    <i class="material-icons">
      save
    </i>
    save
  </button>
  &nbsp;
  <highcharts-chart
    [Highcharts]="tempcharts"
    [options]="chartOptions"
    style="width: 50%;
  height: 400px; display: block;"
  ></highcharts-chart>
</div>

<div *ngIf="this.showlog">
  <ul *ngFor="let log of loggedData">
    <li>City: {{ log.city }}</li>
    <br />
    <li>Date Queried: {{ log.date }}</li>
    <br />
    <li>Humidity: {{ log.humidity }}</li>
    <br />
    <li>Temperature: {{ log.temperature }}</li>
    <br />
  </ul>
</div>
